.DS_Store
.idea
.vscode
.wechaty/
__pycache__/
venv*
*.pyc
QR.png
nohup.out
tmp
itchat.pkl
*.log
user_datas.pkl
config.json
cookies.json
weights/realesrgan/RealESRGAN_x2plus.pth
weights/CodeFormer/codeformer.pth
plugins/plugin_sdwebui/CodeFormer/weights/facelib/parsing_parsenet.pth
plugins/plugin_sdwebui/CodeFormer/weights/facelib/codeformer.pth
plugins/plugin_sdwebui/CodeFormer/weights/facelib/detection_Resnet50_Final.pth
plugins/plugin_sdwebui/CodeFormer/weights/realesrgan/RealESRGAN_x2plus.pth
plugins/plugin_sdwebui/CodeFormer/weights/CodeFormer/codeformer.pth